.app {
}

.app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
}

.app-header {
    text-align: center;
    background-color: #436088;
    height: 170px;
    padding: 20px;
    color: white;
}

.search-input .error {
    color: #ffba18;
    font-size: .9em;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    width: 100vw;
    flex: 1 auto;
}

.container .search-panel {
    flex-shrink: 4;
}

.container .selection-panel {
    width: 70vw;
}
